.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1--count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #000;
    text-align: center;
}

.div--h1 {
    text-align: center;
}

.btn {
    border-radius: 5px;
    margin: 15px;
    height: 50px;
    width: 100px;
    font: 24px Arial, sans-serif;
}

.div--contaier--button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.div--container {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.each--work--out {
    border: 3px solid #000;
    margin: 10px;
}


.checkRun {
    width: 40px;
    height: 50px;
    /* display: block; */
    display: flexbox;
    margin: 50px;
    text-align: center;
    font: 30px Arial, sans-serif;

    /* border: 1px solid black; */

}

#runText {
    width: 40px;
    height: 50px;



}

.howManyForWorkOut {
    text-align: center;
}




/*

.circle--count {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}

*/